<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/app.css}" rel="stylesheet" />
	<script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}" defer></script>
	<script th:src="@{/js/app.js}" defer></script>
	<title>$title$</title>
</head>
<h1>アーティスト登録</h1>
<form th:method="post" th:action="@{/members}" th:object="${member}">
	メンバー名<br/>
	<input type="text" class="form-control" name="memberName"><br/>
	<div class="fw-bold" th:if="${#fields.hasErrors('memberName')}" 
	th:errors="*{memberName}" th:errorclass="err" style="color:red"></div>
	メンバー名(読み)<br/>
	<input type="text" class="form-control" name="memberHiraganaName"><br/>
	<div class="fw-bold" th:if="${#fields.hasErrors('memberHiraganaName')}" 
	th:errors="*{memberHiraganaName}" th:errorclass="err" style="color:red"></div>
	誕生日<br/>
	<input type="date" class="form-control" name="memberBirthday"><br/>
	<div class="form-control" th:if="${#fields.hasErrors('memberBirthday')}" 
	th:errors="*{memberBirthday}" th:errorclass="err" style="color:red"></div>
	所属<br/>
	<select class="form-select" th:field="${member.artistId}">
		<option value="0"></option>
		<option th:each="artist : ${artists}" th:value="${artist.artistId}" th:text="${artist.artistName}"></option>
	</select>
</div>
	<input type="submit" class="btn btn-secondary" value="登録する"><br/>
</form>
<body>

</body>
</html>